/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 25, 2017, 5:01:14 PM
    Author     : chee
*/

/* __ CLASSES  __ */
hr.style1 {
    border-top: 1px dotted #8c8b8b;
    border-bottom: 1px dotted #fff;
    width: auto;
}

.changeSummaryWidth {
    min-width: 25%;
}

.fieldset-auto-width {
  display: inline-block;
}

ul.contributor {
    list-style-type: square;
}

#pagelabel {
    /*color: #0000FF;*/
    color: #000000;
    font-family: georgia,serif;
    font-size: 12px;
}

/* __ IDS __ */
#pagerequire {
    font-size: 14px;
    color:red;
}

/*
#formRequest {
   width: 60%;
}


#formRequest fieldset {

    max-width: 70%;
} */

.fieldset-auto-width {
    display: inline-block;
}

input[type=submit] {
    width: auto;
    background-color: #DADADA; 
    color: black;
    padding: 3px 7px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* __ OTHER __  */

label {
    display: inline-block;
    width: 100px;
    margin-right: 30px;
    text-align: left;
}
